Repository Armor-test/account-proxy-721, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/squad-performance, @Armor-test/dept-reporting, @Armor-test/squad-ux, @Armor-test/dept-release, @Armor-test/dept-reliability, @Armor-test/squad-mobile, @Armor-test/squad-payments, @Armor-test/dept-identity, @Armor-test/unit-design, @Armor-test/dept-data, @Armor-test/grp-payments, @Armor-test/dept-security, @Armor-test/team-research, @Armor-test/dept-api, @Armor-test/squad-search, @Armor-test/grp-api, @Armor-test/team-logging, @Armor-test/squad-cloud, @Armor-test/team-security, @Armor-test/squad-reporting, @Armor-test/squad-apps, @Armor-test/dept-test, @Armor-test/squad-database, @Armor-test/dept-notifications, @Armor-test/squad-product, @Armor-test/unit-test, @Armor-test/dept-logging, @Armor-test/squad-tooling, @Armor-test/dept-ui, @Armor-test/team-notifications, @Armor-test/team-frontend, @Armor-test/squad-qa, @Armor-test/unit-governance, @Armor-test/squad-frontend, @Armor-test/grp-storage, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/auth-team

.github/CODEOWNERS:

# CODEOWNERS file for account-proxy-721
# Global owners - will be requested for all PRs
* @Armor-test/squad-performance @Armor-test/dept-reporting @Armor-test/squad-ux

# Directory ownership
/data/ @Armor-test/dept-release @Armor-test/dept-reliability
/test/ @Armor-test/squad-ux @Armor-test/squad-mobile @Armor-test/squad-payments
/views/ @Armor-test/dept-identity @Armor-test/unit-design
/examples/ @Armor-test/dept-data @Armor-test/grp-payments @Armor-test/squad-mobile
/pkg/ @Armor-test/dept-reliability @Armor-test/dept-security
/auth/ @Armor-test/team-research @Armor-test/squad-payments @Armor-test/squad-ux
/ui/ @Armor-test/team-research @Armor-test/dept-api
/deploy/ @Armor-test/squad-search @Armor-test/grp-api @Armor-test/team-logging
/api/ @Armor-test/team-research @Armor-test/squad-cloud
/static/ @Armor-test/team-security @Armor-test/squad-reporting
/scripts/ @Armor-test/squad-reporting @Armor-test/squad-apps @Armor-test/squad-payments
/plugins/ @Armor-test/squad-ux @Armor-test/dept-test @Armor-test/dept-identity
/src/ @Armor-test/squad-reporting @Armor-test/squad-database
/app/ @Armor-test/grp-payments @Armor-test/squad-cloud
/security/ @Armor-test/squad-mobile @Armor-test/dept-notifications @Armor-test/squad-product

# File type ownership
*.gradle @Armor-test/team-logging @Armor-test/unit-test @Armor-test/squad-reporting
*.tsx @Armor-test/unit-design @Armor-test/dept-logging @Armor-test/team-research
*.config @Armor-test/squad-tooling @Armor-test/squad-reporting @Armor-test/dept-ui
*.c @Armor-test/squad-mobile @Armor-test/team-notifications @Armor-test/team-logging
*.sh @Armor-test/team-frontend @Armor-test/team-notifications @Armor-test/squad-cloud
*.json @Armor-test/team-logging @Armor-test/dept-notifications @Armor-test/dept-api
*.properties @Armor-test/squad-qa @Armor-test/dept-data @Armor-test/unit-governance
*.lock @Armor-test/unit-design @Armor-test/dept-data
*.php @Armor-test/squad-frontend @Armor-test/grp-storage
*.proto @Armor-test/squad-tooling @Armor-test/grp-payments @Armor-test/team-notifications
*.tf @Armor-test/squad-cloud @Armor-test/dept-ui

# Security and special files
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
package.json @Armor-test/dependency-team @Armor-test/security
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
/src/**/auth/ @Armor-test/security @Armor-test/auth-team

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-reporting, @Armor-test/squad-database

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/squad-performance, @Armor-test/dept-reporting, @Armor-test/squad-ux

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/squad-ux, @Armor-test/squad-mobile, @Armor-test/squad-payments

Add src/main.py
  src/main.py
Owners: @Armor-test/squad-reporting, @Armor-test/squad-database

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-reporting, @Armor-test/squad-database
